.bottom-nav {
  background: linear-gradient(135deg, #1d976c, #93f9b9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
}


.bottom-nav .MuiBottomNavigationAction-root {
  color: #ffffff;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.bottom-nav .MuiBottomNavigationAction-root:hover {
  color: #93f9b9;
  transform: scale(1.1);
}

.bottom-nav .MuiBottomNavigationAction-label {
  font-weight: bold;
  font-size: 0.9rem;
}

.bottom-nav .MuiBottomNavigationAction-icon {
  font-size: 1.5rem;
}

/* Style for the selected navigation item */
.bottom-nav .MuiBottomNavigationAction-root.Mui-selected {
  color: #1d976c;
}
